*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
.row{
    display:flex;
    flex-wrap: wrap;
    padding: 0px 0px;
}
.column{
    flex:25%;
    max-width: 25%;
    padding:0px 4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; 
    transition: .5s;
}
.column img:hover{
    box-shadow: 4px 4px 5px rgba(0,0,0,.7);
}
@media screen and (max-width:800px){
    .column{
        flex: 50%;
        max-width: 50%;
         
    }
}
@media screen and (max-width:600px){
    .column{
        flex: 100%;
        max-width: 100%;
         
    }
} 

